<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do list</title>
  <link rel="stylesheet" href="./assets/css/style.css">
  <script src="https://kit.fontawesome.com/b1c0bf61f1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <div class="container">
      <div class="logo">
        <img :src="logo" alt="Logo Boolean">
      </div>
      <div class="input">
        <input v-model="newTask" placeholder=" Inserisci promemoria">
        <button @click="addTask" class="add">Add</button>
      </div>
      <div class="label">
        <p>Todo List</p>
        <i @click="clearAll" class="fas fa-trash-alt"></i>
      </div>
      <div class="lista">
        <ul v-if="tasks.length > 0">
          <li v-for="(task, index) in tasks">
            {{task}}
            <i @click="remove(index)" class="fas fa-times-circle"></i>
          </li>
        </ul>
        <p v-else>Non hai niente da fare...</p>
      </div>
    </div>
  </div>


  <script src="./assets/js/main.js"></script>
</body>
</html>